@import url('search/regular.css');

#fake-header {
    height: 80px; /* Same as header */
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; /* Ensure items align correctly */
    height: 80px;
    color: var(--text);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.8);
    position: fixed; /* Make the header fixed at the top */
    top: 0; /* Start at the top */
    left: 0;
    right: 0;
    transition: top 0.3s; /* Smooth transition for showing/hiding */
    z-index: 1000; /* Ensure it appears above other content */
}

.header-hide {
    top: -80px;
}

.header {
    background-color: #782023;
}

.ch1 .header {
    background-color: var(--cch1);
}

.ch2 .header {
    background-color: var(--cch2);
}

.ch3 .header {
    background-color: var(--cch3);
}

.ch4 .header {
    background-color: var(--cch4);
}

.scdr .header {
    background-color: var(--secondary);
}

.records .header {
    background-color: hsl(51, 50%, 50%);
}

#header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: -1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Mueve el título */
#header-title.moved-right {
    transform: translateX(250px);
    opacity: 0%;
}

@media (max-width: 1565px) {
    #header-title {
        opacity: 0%;
    }
}

.header h1 {
    font-size: 35px;
}

#header-logo {
    top: 0px;
    left: 10px;
    display: flex;
    height: 100%;
    position: absolute;
}


