@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --text: #f4f4ef;
    --bg: #0b0b08;
    --primary: #e5383e;
    --secondary: #087c9f;
    --accent: #ffeb0f;
    --textcontrast: #64d97b;
    --bgcontrast: #64d97b;
    --primarycontrast: #ffdd00;
    --secondarycontrast: #ff8f8f;
    --accentcontrast: #64d97b;
    --text5: hsl(60, 19%, 95%, 5%);
    --text10: hsl(60, 19%, 95%, 10%);
    --text15: hsl(60, 19%, 95%, 15%);
    --text20: hsl(60, 19%, 95%, 20%);
    --text25: hsl(60, 19%, 95%, 25%);
    --text30: hsl(60, 19%, 95%, 30%);
    --text35: hsl(60, 19%, 95%, 35%);
    --text40: hsl(60, 19%, 95%, 40%);
    --text45: hsl(60, 19%, 95%, 45%);
    --text50: hsl(60, 19%, 95%, 50%);
    --text55: hsl(60, 19%, 95%, 55%);
    --text60: hsl(60, 19%, 95%, 60%);
    --text65: hsl(60, 19%, 95%, 65%);
    --text70: hsl(60, 19%, 95%, 70%);
    --text75: hsl(60, 19%, 95%, 75%);
    --text80: hsl(60, 19%, 95%, 80%);
    --text85: hsl(60, 19%, 95%, 85%);
    --text90: hsl(60, 19%, 95%, 90%);
    --text95: hsl(60, 19%, 95%, 95%);
    --primary5: hsl(358, 77%, 56%, 5%);
    --primary10: hsl(358, 77%, 56%, 10%);
    --primary15: hsl(358, 77%, 56%, 15%);
    --primary20: hsl(358, 77%, 56%, 20%);
    --primary25: hsl(358, 77%, 56%, 25%);
    --primary30: hsl(358, 77%, 56%, 30%);
    --primary35: hsl(358, 77%, 56%, 35%);
    --primary40: hsl(358, 77%, 56%, 40%);
    --primary45: hsl(358, 77%, 56%, 45%);
    --primary50: hsl(358, 77%, 56%, 50%);
    --primary55: hsl(358, 77%, 56%, 55%);
    --primary60: hsl(358, 77%, 56%, 60%);
    --primary65: hsl(358, 77%, 56%, 65%);
    --primary70: hsl(358, 77%, 56%, 70%);
    --primary75: hsl(358, 77%, 56%, 75%);
    --primary80: hsl(358, 77%, 56%, 80%);
    --primary85: hsl(358, 77%, 56%, 85%);
    --primary90: hsl(358, 77%, 56%, 90%);
    --primary95: hsl(358, 77%, 56%, 95%);
    --secondary5: hsl(194, 90%, 33%, 5%);
    --secondary10: hsl(194, 90%, 33%, 10%);
    --secondary15: hsl(194, 90%, 33%, 15%);
    --secondary20: hsl(194, 90%, 33%, 20%);
    --secondary25: hsl(194, 90%, 33%, 25%);
    --secondary30: hsl(194, 90%, 33%, 30%);
    --secondary35: hsl(194, 90%, 33%, 35%);
    --secondary40: hsl(194, 90%, 33%, 40%);
    --secondary45: hsl(194, 90%, 33%, 45%);
    --secondary50: hsl(194, 90%, 33%, 50%);
    --secondary55: hsl(194, 90%, 33%, 55%);
    --secondary60: hsl(194, 90%, 33%, 60%);
    --secondary65: hsl(194, 90%, 33%, 65%);
    --secondary70: hsl(194, 90%, 33%, 70%);
    --secondary75: hsl(194, 90%, 33%, 75%);
    --secondary80: hsl(194, 90%, 33%, 80%);
    --secondary85: hsl(194, 90%, 33%, 85%);
    --secondary90: hsl(194, 90%, 33%, 90%);
    --secondary95: hsl(194, 90%, 33%, 95%);
    --accent5: hsl(55, 100%, 53%, 5%);
    --accent10: hsl(55, 100%, 53%, 10%);
    --accent15: hsl(55, 100%, 53%, 15%);
    --accent20: hsl(55, 100%, 53%, 20%);
    --accent25: hsl(55, 100%, 53%, 25%);
    --accent30: hsl(55, 100%, 53%, 30%);
    --accent35: hsl(55, 100%, 53%, 35%);
    --accent40: hsl(55, 100%, 53%, 40%);
    --accent45: hsl(55, 100%, 53%, 45%);
    --accent50: hsl(55, 100%, 53%, 50%);
    --accent55: hsl(55, 100%, 53%, 55%);
    --accent60: hsl(55, 100%, 53%, 60%);
    --accent65: hsl(55, 100%, 53%, 65%);
    --accent70: hsl(55, 100%, 53%, 70%);
    --accent75: hsl(55, 100%, 53%, 75%);
    --accent80: hsl(55, 100%, 53%, 80%);
    --accent85: hsl(55, 100%, 53%, 85%);
    --accent90: hsl(55, 100%, 53%, 90%);
    --accent95: hsl(55, 100%, 53%, 95%);

    --cch1: hsl(197, 55%, 56%);

    --cch1-5: hsl(197, 55%, 56%, 5%);
    --cch1-10: hsl(197, 55%, 56%, 10%);
    --cch1-15: hsl(197, 55%, 56%, 15%);
    --cch1-20: hsl(197, 55%, 56%, 20%);
    --cch1-25: hsl(197, 55%, 56%, 25%);
    --cch1-30: hsl(197, 55%, 56%, 30%);
    --cch1-35: hsl(197, 55%, 56%, 35%);
    --cch1-40: hsl(197, 55%, 56%, 40%);
    --cch1-45: hsl(197, 55%, 56%, 45%);
    --cch1-50: hsl(197, 55%, 56%, 50%);
    --cch1-55: hsl(197, 55%, 56%, 55%);
    --cch1-60: hsl(197, 55%, 56%, 60%);
    --cch1-65: hsl(197, 55%, 56%, 65%);
    --cch1-70: hsl(197, 55%, 56%, 70%);
    --cch1-75: hsl(197, 55%, 56%, 75%);
    --cch1-80: hsl(197, 55%, 56%, 80%);
    --cch1-85: hsl(197, 55%, 56%, 85%);
    --cch1-90: hsl(197, 55%, 56%, 90%);
    --cch1-95: hsl(197, 55%, 56%, 95%);

    --cch2: hsl(340, 90%, 77%);

    --cch2-5: hsl(340, 90%, 77%, 5%);
    --cch2-10: hsl(340, 90%, 77%, 10%);
    --cch2-15: hsl(340, 90%, 77%, 15%);
    --cch2-20: hsl(340, 90%, 77%, 20%);
    --cch2-25: hsl(340, 90%, 77%, 25%);
    --cch2-30: hsl(340, 90%, 77%, 30%);
    --cch2-35: hsl(340, 90%, 77%, 35%);
    --cch2-40: hsl(340, 90%, 77%, 40%);
    --cch2-45: hsl(340, 90%, 77%, 45%);
    --cch2-50: hsl(340, 90%, 77%, 50%);
    --cch2-55: hsl(340, 90%, 77%, 55%);
    --cch2-60: hsl(340, 90%, 77%, 60%);
    --cch2-65: hsl(340, 90%, 77%, 65%);
    --cch2-70: hsl(340, 90%, 77%, 70%);
    --cch2-75: hsl(340, 90%, 77%, 75%);
    --cch2-80: hsl(340, 90%, 77%, 80%);
    --cch2-85: hsl(340, 90%, 77%, 85%);
    --cch2-90: hsl(340, 90%, 77%, 90%);
    --cch2-95: hsl(340, 90%, 77%, 95%);

    --cch3: hsl(272, 71%, 63%);

    --cch3-5: hsl(272, 71%, 63%, 5%);
    --cch3-10: hsl(272, 71%, 63%, 10%);
    --cch3-15: hsl(272, 71%, 63%, 15%);
    --cch3-20: hsl(272, 71%, 63%, 20%);
    --cch3-25: hsl(272, 71%, 63%, 25%);
    --cch3-30: hsl(272, 71%, 63%, 30%);
    --cch3-35: hsl(272, 71%, 63%, 35%);
    --cch3-40: hsl(272, 71%, 63%, 40%);
    --cch3-45: hsl(272, 71%, 63%, 45%);
    --cch3-50: hsl(272, 71%, 63%, 50%);
    --cch3-55: hsl(272, 71%, 63%, 55%);
    --cch3-60: hsl(272, 71%, 63%, 60%);
    --cch3-65: hsl(272, 71%, 63%, 65%);
    --cch3-70: hsl(272, 71%, 63%, 70%);
    --cch3-75: hsl(272, 71%, 63%, 75%);
    --cch3-80: hsl(272, 71%, 63%, 80%);
    --cch3-85: hsl(272, 71%, 63%, 85%);
    --cch3-90: hsl(272, 71%, 63%, 90%);
    --cch3-95: hsl(272, 71%, 63%, 95%);


    --font_cursive: 'Caveat';
    --font_main: 'Poppins';
}

@keyframes slideInFromTop {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.copy-btn {
    margin-left: 10px;
    background-color: var(--bg);
    border: solid 2px var(--text30);
    border-radius: 0.5rem;
    cursor: pointer;
    color: var(--text30);
    height: 23px;
}

.copy-btn:hover {
    border: solid 2px var(--text70);
    color: var(--text70);
}

.ch1 .copy-btn:active {
    border: solid 2px var(--cch1-50);
    color: var(--cch1-50);
}
.ch2 .copy-btn :active {
    border: solid 2px var(--cch2-50);
    color: var(--cch2-50);
}
.ch3 .copy-btn:active {
    border: solid 2px var(--cch3-50);
    color: var(--cch3-50);
}

.ch1 .copy-btn.copied {
    border: solid 2px var(--cch1-50);
    color: var(--cch1-50);
}
.ch2 .copy-btn.copied {
    border: solid 2px var(--cch2-50);
    color: var(--cch2-50);
}
.ch3 .copy-btn.copied {
    border: solid 2px var(--cch3-50);
    color: var(--cch3-50);
}


/* Default link color */
a {
    color: #007BFF; /* Change this to the color you want */
}

/* Link color on hover */
a:hover {
    color: #0056b3; /* Slightly darker shade for hover effect */
}

/* Visited link color */
a:visited {
    color: #800080; /* Purple for visited links */
}

/* Active link color */
a:active {
    color: #ff5722; /* Orange for active (clicked) links */
}

.slide-in {
    opacity: 0;
    animation: slideInFromTop 0.5s ease-out forwards;
}
  

body {
    font-family: var(--font_main);
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: top;
    height: 10vh;
    color: var(--text);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.8);
}

#header {
    background-color: var(--primary50);
}

.ch1 .header {
    background-color: var(--cch1);
}

.ch2 .header{
    background-color: var(--cch2);
}

.ch3 .header {
    background-color: var(--cch3);
}

#header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header h1 {
    font-size: 35px;
}

.header a {
    display: flex;
    height: 100%;
    position: absolute;
}

.wip-png {
    width: 20%;
    height: 20%;
}

.ch1 .wip-container {
    background-color: var(--cch1-30);
    box-shadow: 10px 10px var(--cch1-80);
}

.ch2 .wip-container {
    background-color: var(--cch2-30);
    box-shadow: 10px 10px var(--cch2-80);
}

.ch3 .wip-container {
    background-color: var(--cch3-30);
    box-shadow: 10px 10px var(--cch3-80);
}

.wip-container {
    display: flex;
    width: 50%;
    margin: 2rem;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
}

#wip-text-container {
    margin: 2rem;
    margin-left: 3rem;
}


.wip-container h4 {
    font-size: 35px;
    margin: 0px;
}



#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8em;
    margin: 5rem 0;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 2rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25em;
    font-size: 25px;
}

p {
    font-family: var(--font_cursive);
    display: block;
    margin: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 25px;
}


.color-text {
    padding: 2px;
    background: linear-gradient(145deg, var(--primary), var(--accent));
    -webkit-background-clip: text; 
    color: var(--bg); /* Color principal del texto */
    
    /* Para el borde del texto */
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: transparent;
}

.triple-menu {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
}

.triple-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.triple-div img {
    width: 100%;
    transition: transform 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.triple-div img:hover {
    transform: scale(1.1); /* Agranda la imagen en hover */
}

.triple-div a {
    text-decoration: none;
}

.triple-div h4{
    font-size: 24px;
    color: var(--text);
    height: 100%;
    width: 100%;
    font-weight: 800;
}

.double-menu {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 5rem;
}

.double-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.double-div img {
    width: 100%;
    transition: transform 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.double-div img:hover {
    transform: scale(1.1); /* Agranda la imagen en hover */
}

.double-div a {
    text-decoration: none;
}

.double-div h4{
    font-size: 24px;
    color: var(--text);
    height: 70%;
    width: 70%;
    font-weight: 800;
}

.platform-pc-div button {
    width: 90%;
    height: 90%;
}

.platform.pc button {
    background-color: var(--bg);
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.platform-pc-div {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center; /* centers horizontally */
    justify-content: center; /* centers vertically */
}

/* Popup styling */
.popup {
    display: none;
    position: absolute;
    background-color: var(--bg);
    padding: 10px;
    z-index: 1000;
    border-radius: 10px;
    width: 300px;
    height: 100px;
}

.popup::after {
    content: "";
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 20px;
    border-style: solid;
    border-color: var(--bg) transparent transparent transparent;
}

/* Button Container */
.popup-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Line */
.popup-content::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 2.5px);
    width: 5px;
    border-radius: 2rem;
    transform: rotate(20deg);
}

/* Button Styles */
.popup-button {
    background-color: var(--bg);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    color: var(--text);
    width: 125px; /* Ancho de los botones */
    height: 100px; /* Altura de los botones */
    font-size: 24px;
    font-weight: 800;
}

/* Different pop-up Styles */
.popup-ch1 {
    border: 5px solid var(--cch1-20);
}
.popup-ch1::after {
    border-color: var(--cch1-20) transparent transparent transparent;
}
.popup-ch1 .popup-content::before {
    background-color: var(--cch1-20);
}
.popup-ch1 .popup-button:hover {
    background-color: var(--cch1-20);
}

.popup-ch2 {
    border: 5px solid var(--cch2-20);
}
.popup-ch2::after {
    border-color: var(--cch2-20) transparent transparent transparent;
}
.popup-ch2 .popup-content::before {
    background-color: var(--cch2-20);
}
.popup-ch2 .popup-button:hover {
    background-color: var(--cch2-20);
}

.popup-ch3 {
    border: 5px solid var(--cch3-20);
}
.popup-ch3::after {
    border-color: var(--cch3-20) transparent transparent transparent;
}
.popup-ch3 .popup-content::before {
    background-color: var(--cch3-20);
}
.popup-ch3 .popup-button:hover {
    background-color: var(--cch3-20);
}

.hidden {
    display: none;
}


.guides-container {
    flex-direction: column;
    display: flex;
    width: 80%;
    gap: 3rem;
}

.ch3 .guides-container iframe {
    border-radius: 1.5rem;
    border: solid 3px var(--cch3-50);
}

.ch2 .guides-container iframe {
    border-radius: 1.5rem;
    border: solid 3px var(--cch2-50);
}

.ch1 .guides-container iframe {
    border-radius: 1.5rem;
    border: solid 3px var(--cch1-50);
}

.strat-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2em;
    width: 100%;
    position: relative;
    height: 440px;
}

.video-description-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.video-description-credits-div {
    margin-top: 5rem;
    width: 100%;
    height: calc(100% - 8rem);
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    justify-content: space-between; /* Distributes space between items */
    line-height: 2rem;
}

.text-30 {
    color: var(--text30)
}

.code {
    font-family: monospace;
    font-size: 16px;
    background-color: var(--text5); /* Light gray background */
    color: var(--primary80);           /* Distinctive color for the code */
    padding: 2px 0.5rem 3px 0.5rem;
    border-radius: 0.5rem;
    border: solid 2px var(--text20)
}

#error-code-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    gap: 1rem;
    margin: 5rem;
}

#error-code {
    margin:0px;
}

#not-found {
    font-size: 20px;
}

#return-link {
    border: solid #007BFF;
    padding: 1rem;
    border-radius: 50rem;
    background-color: hsl(211, 100%, 35%, 10%);
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); /* Estado inicial */
    transition: box-shadow 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

/* Link color on hover */
#return-link:hover {
    border: solid #0056b3; /* Slightly darker shade for hover effect */
    color: #0056b3;
    text-decoration: none;
    box-shadow: 0 0 20px 20px hsl(211, 100%, 35%, 40%);
    
}

/* Visited link color */
#return-link:visited {
    color: #007BFF;
}

#return-link:hover {
    color: #0056b3;
}

/* Active link color */
#return-link:active {
    border: solid #0056b3; /* Orange for active (clicked) links */
    color: #0056b3;
}

#bunzo-nerdge {
    position: absolute;
    width: 25%;
    left: 10%;
}

#cat-bee-paint {
    position: absolute;
    width: 25%;
    right: 10%;
    transform: scaleX(-1);
}

#different-error-color {
    background-image: url('/images/paint.png'); /* Tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen */
    background-position: center; /* Centra la imagen en el texto */
    -webkit-background-clip: text; /* Recorta la imagen al contorno del texto */
    background-clip: text; /* Para navegadores no WebKit */
    -webkit-text-fill-color: transparent; /* Hace el texto transparente */
}